/* _content/GuidedLands/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-f17s2eqwmf] ***REMOVED***
  white-space: normal;
  text-align: center;
  word-break: break-all;
***REMOVED***

a[b-f17s2eqwmf] ***REMOVED***
  color: #0077cc;
***REMOVED***

.btn-primary[b-f17s2eqwmf] ***REMOVED***
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
***REMOVED***

.nav-pills .nav-link.active[b-f17s2eqwmf], .nav-pills .show > .nav-link[b-f17s2eqwmf] ***REMOVED***
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
***REMOVED***

.border-top[b-f17s2eqwmf] ***REMOVED***
  border-top: 1px solid #e5e5e5;
***REMOVED***
.border-bottom[b-f17s2eqwmf] ***REMOVED***
  border-bottom: 1px solid #e5e5e5;
***REMOVED***

.box-shadow[b-f17s2eqwmf] ***REMOVED***
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
***REMOVED***

button.accept-policy[b-f17s2eqwmf] ***REMOVED***
  font-size: 1rem;
  line-height: inherit;
***REMOVED***

.footer[b-f17s2eqwmf] ***REMOVED***
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
***REMOVED***
